<html>
{{template "header.tmpl.html"}}

<body>
  <!-- MAIN (Center website) -->
  <div class="container">
    {{template "nav.tmpl.html"}}

    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <h1 class="display-2">Hello, world!</h1>
          <p>A unix time stamp, if you ever need one :: <span>{{.time}}</span></p>
        </div>
      </div>
    </div>

    <!-- Portfolio Gallery Grid -->
    <div class="container">
      <div class="row">
        <div class="col p-2 m-2 border">
          {{range .galleryList.GalleryObjects}}
          <div class="card m-2" style="width: 8rem;">
            <img src="{{.Img}}" class="card-img-top" alt="Linked In Profile Pic">
            <div class="card-body">
              <h5 class="card-title">{{.Title}}</h5>
              <a href={{.Link}} class="btn btn-primary">Visit</a>
            </div>
          </div>
          {{end}}
        </div>
        <!-- Start Contact -->
        <div class="col p-2 m-2 border">
          <form action="/message" method="POST">
            <div class="form-group">
              <label for="exampleInputEmail1">Email address</label>
              <input name="name" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <label for="exampleFormControlTextarea1">Message</label>
              <textarea name="message" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
        </div>
        <!-- END Contact -->

      </div>
    </div>
    <!-- END MAIN -->

    {{.details}}

  </div>

</body>

</html>