<html>
{{template "header.tmpl.html"}}

<body>

  <!-- MAIN (Center website) -->
  <div class="main">

    <h1>MYLOGO.COM</h1>
    <hr>

    <p>A unix time stamp, if you ever need one :: <span>{{.time}}</span></p>

    <h2>PORTFOLIO</h2>

    <!-- Portfolio Gallery Grid -->
    {{.galleryList}}

    <div class="row">
      {{range .galleryList.GalleryObjects}}
      <div class="column">
        <div class="content">
          <img src={{.Img}} alt="Linked In Profile Pic" style="width:100%">
          <h3>{{.Title}}</h3>
          <p><a href={{.Link}}>Visit</a></p>
        </div>
      </div>
      {{end}}
    </div>
    <!-- END MAIN -->

    <!-- Start Contact -->
    <div class="container">
      <form action="action_page.php">

        <label for="fname">First Name</label>
        <input type="text" id="fname" name="firstname" placeholder="Your name..">

        <label for="lname">Last Name</label>
        <input type="text" id="lname" name="lastname" placeholder="Your last name..">

        <label for="country">Country</label>
        <select id="country" name="country">
          <option value="australia">Australia</option>
          <option value="canada">Canada</option>
          <option value="usa">USA</option>
        </select>

        <label for="subject">Subject</label>
        <textarea id="subject" name="subject" placeholder="Write something.." style="height:200px"></textarea>

        <input type="submit" value="Submit">

      </form>
    </div>
    <!-- END -->

  </div>

</body>

</html>