<html>
{{template "header.tmpl.html"}}

<body>

  <!-- MAIN (Center website) -->
  <div class="main">

    <h1>MYLOGO.COM</h1>
    <hr>

    <p>{{.time}}</p>

    <h2>PORTFOLIO</h2>
    <p>Resize the browser window to see the responsive effect.</p>

    <!-- Portfolio Gallery Grid -->
    {{.galleryList}}

    <div class="row">
      {{range .galleryList.GalleryObjects}}
      <div class="column">
        <div class="content">
          <img src={{.Img}} alt="Linked In Profile Pic" style="width:100%">
          <h3>{{.Title}}</h3>
          <p><a href={{.Link}}>Visit</a></p>
        </div>
      </div>
      {{end}}
    </div>
    <!-- END MAIN -->
  </div>

</body>

</html>